<!DOCTYPE html>
<html>
  <head>
    <title> <%= @page_title %> </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <meta name="keywords" content="<%= @seo_keywords %>">

    <%= stylesheet_link_tag    'portfolios', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>




    <% #we have to determine if the user is already logged in our not %> 

    <%= user_check %>

    <%= yield %>

    <%= render 'shared/nav', location: "bottom" %>

    <% if session[:source] %>
    <h1>Thanks for visiting me from <%= session[:source] %></h1>
    <% end -%>
  </body>
</html>
